body{
  background:linear-gradient(135deg,#020617,#0f172a);
  min-height:100vh;
}

div{
  max-width:420px;
  margin:auto;
  background:#020617;
  padding:20px;
  border-radius:14px;
  box-shadow:0 20px 40px rgba(0,0,0,.6);
}

h2{
  text-align:center;
  margin-bottom:20px;
}

hr{
  border:0;
  height:1px;
  background:#1f2937;
  margin:20px 0;
}